body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

.topo {
  background: #0b3c5d;
  color: white;
  padding: 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 25px;
  width: 400px;
  border-radius: 6px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #0b3c5d;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 40px;
}
